# data science
numpy
pandas

# Uncomment if you use sklearn
scikit-learn

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
#tensorflow==2.15    # For both Intel and Apple silicon
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
# Google Cloud
google-cloud-storage

python-dotenv

# API
fastapi
uvicorn
